NODE_ENV=development
PORT=5001

DATABASE_URL="postgresql://vishwaksen@localhost:5432/email_scheduler?schema=public"

REDIS_URL="redis://localhost:6379"

GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:5001/api/auth/google/callback"

ETHEREAL_HOST="smtp.ethereal.email"
ETHEREAL_PORT=587
ETHEREAL_USER=""
ETHEREAL_PASSWORD=""

WORKER_CONCURRENCY=5

MIN_EMAIL_DELAY_MS=2000

MAX_EMAILS_PER_HOUR_PER_SENDER=200

SESSION_SECRET="super-secret-session-key-reachinbox-2026"
JWT_SECRET="reachinbox-jwt-secret-key-2026"

FRONTEND_URL="http://localhost:3000"
